.animation {
    animation: 3s change linear infinite;

}

@keyframes change {
	0% {
		padding-top: 0;
    
	}
    50%{
        padding-top: 15px ;
    }
 
	100% {
		padding-top: 0px;
	}
}

.shadowDos{
	text-shadow: 0 0 5px black;
}

.loader{
	animation: 1s loading linear infinite;

}

.refresh{
	animation: 8s refresh linear ;
}

@keyframes refresh {
	0% {
		visibility: hidden;
	}
	90% {
		visibility: hidden;
	}
	100%{
		visibility: visible;
	}
}



@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
